<!DOCTYPE html>
<html> 
	<head>    
	<title><%= title %></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  

	</head>
	<% include temps/header.ejs %>  
	<body>   
		
		<h1>Welcome to <%= title %> edit page </h1> 

		<div>
			
			<img src = "" id="image" height="500" width="500">
			<button  id="edit" class = "btn btn-info">edit</button>
		</div>
		
		<canvas id="canvas" width="500" height="500"></canvas>
		
	  <div id = "controls">
		<form  action="/upload" method="POST" enctype="multipart/form-data" >
            <input type='file' name="image" id="image_upload" class = "btn btn-info">
            <br>
            <input type="submit"  value="Save Image"  id="save"  class = "btn btn-info"><br>

            <li class = "btn btn-primary">Blur<br><input id="blur" class="range" type="range" min="0" max="200" value="0"></li>
            
            <li class = "btn btn-primary">Brightness<br><input id="brightness" class="range" type="range" min="0" max="200" value="0"></li>
 
			<li class = "btn btn-primary">Sepia<br><input id="sepia" class="range" type="range" min="0" max="200" value="0"></li>
			 
			<li class = "btn btn-primary">Opacity<br><input id="opacity" class="range" type="range" min="0" max="200" value="0"></li>

			<li class = "btn btn-primary">Saturate<br><input id="saturate" class="range" type="range" min="0" max="200" value="0"></li>

			<li class = "btn btn-primary">Invert<br><input id="invert" class="range" type="range" min="0" max="200" value="0"></li>

			<li class = "btn btn-primary">Greyscale<br><input id="greyscale" class="range" type="range" min="0" max="200" value="0"></li>

			<li class = "btn btn-primary">Hue-Rotation<br><input id="hue" class="range" type="range" min="0" max="200" value="0"></li>
			
			<li class = "btn btn-primary">Drop Shadow<br><input id="drop" class="range" type="range" min="0" max="200" value="0"></li>

			<li class = "btn btn-primary">Special1<br><input id="special1" class="range" type="range" min="0" max="200" value="0"></li>

			<li class = "btn btn-primary">Special2<br><input id="special2" class="range" type="range" min="0" max="200" value="0"></li>

			<li class = "btn btn-primary">Special3<br><input id="special3" class="range" type="range" min="0" max="200" value="0"></li>

			<li class = "btn btn-primary">Special4<br><input id="special4" class="range" type="range" min="0" max="200" value="0"></li>

			<li class = "btn btn-primary">Special5<br><input id="special5" class="range" type="range" min="0" max="200" value="0"></li>

		</form>
	  </div>

		<script src ="javascripts/main.js"></script>
				

	</body> 
</html>