<!DOCTYPE html>
<html> 
<head>    
<title><%= title %></title>  
</head> 
<% include temps/header.ejs %>
<body>   
<h1>Welcome to <%= title %></h1>  

<a href="/logout">logout</a>
<!--<div>
	<form method="post" enctype="multipart/form-data" action="/upload">
		    <input type="file" name="file">
		    <input type="submit" value="upload file">
	</form>
</div>-->

<p>Hello <%=name%></p>

<%for(var image in images){ %>
	<p><%=images[image]%></p>
<%}%>


</body> 
</html>