<!DOCTYPE html>
<html> 
<head>    
<title><%= title %></title>  
</head>  
<body>   
<h1>Welcome to <%= title %></h1>  

<!--<div>
	<form method="post" enctype="multipart/form-data" action="/upload">
		    <input type="file" name="file">
		    <input type="submit" value="upload file">
	</form>
</div>-->

<p>Hello <%=name%></p>

<%for(var image in images){ %>
	<%=images[image]%>
<%}%>

</body> 
</html>