<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body> 
    <% include temps/header.ejs %>
    <p><a href="#">login here </a></p>

    <div class = "jumbotron">
        <form method="post" action="/signup" class="form-horizontal">
           <div class="form-group" id="signup">
        	<input type = "text" placeholder="firstname" name = "firstname" class="form-control" id="usr"  >
        	<br>
        	<input type = "text" placeholder="lastname" name = "lastname" class="form-control" id="usr" class="form-control">
        	<br>
        	<input type="text" placeholder = "username" name="username" class="form-control" id="usr" class="form-control">
        	<br>
        	<input type="email" placeholder = "email" name="email" class="form-control" id="usr" class="form-control">
        	<br>
        	<input type="password" placeholder = "password" name="password" class="form-control" id="pwd">
            <br>
        	<input type="submit" name="sign up" value="Sign Up" class="btn btn-primary active">
           </div>  
        </form>
    <div>
  </body>
</html>
