
#controls{
	position: relative;
	top: 20px;
	right: 40px;
}

#image{
	border: 5px solid #363B46    ;
	border-radius: 5px;
}

#edit{
	position: relative;
	top: -10px;
	right: -100px;
	width: 100px;
}

.range{
	margin: 20px;
}

#signin{
	width: 300px;
	height: 200px;
}

#signup{
	position: relative;
	width: 300px;
	height: 200px;
	top: -40px;
}

.filter{
	margin: 10px !important;
}

