<!DOCTYPE html>
<html> 
<head>    
<title><%= title %></title>  
</head>  
<body>   
<h1>Welcome to <%= title %></h1>  
<% if(name) { %>
	<p>Hello <%=name%></p>
<% } %>
<%for(let image in images){<%>
	<img src=<%=image%>>
<%}%>

</body> 
</html>