<!DOCTYPE html>
<html> 
<head>    
<title><%= title %></title>  
</head>  
<body>   
<h1>Welcome to <%= title %></h1>  
<% if(name) { %>
	<p>Hello <%=name%></p>
<% } %>
<div>
	<form method="post" enctype="multipart/form-data" action="/upload">
		    <input type="file" name="file">
		    <input type="submit" value="upload file">
	</form>
</div>
</body> 
</html>